In [109]:
# vectorbt is a good tool to backtest your strategy
# we use vectorbt.Portfolio.from_signals to test signals
# we use vectorbt.Portfolio.from_orders to test orders
# the two function is enough, don't need other extra things
# we can test multi portfolio in the two function
import vectorbt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [110]:
# single assets from_signals
df = pd.DataFrame()
df['close'] = [1,2,3,4,5]
df['entry'] = [1,0,0,0,0]
df['exit'] = [0,0,0,0,1]
pf = vectorbt.Portfolio.from_signals(
    close=df['close'],
    entries=df['entry'],
    exits=df['exit'],
    init_cash=100.,
    fees=0.001,
)
print(pf.stats())
pf.orders.records_readable

Start                           0.000000
End                             4.000000
Period                          5.000000
Start Value                   100.000000
End Value                     499.000999
Total Return [%]              399.000999
Benchmark Return [%]          400.000000
Max Gross Exposure [%]        100.000000
Total Fees Paid                 0.599401
Max Drawdown [%]                     NaN
Max Drawdown Duration                NaN
Total Trades                    1.000000
Total Closed Trades             1.000000
Total Open Trades               0.000000
Open Trade PnL                  0.000000
Win Rate [%]                  100.000000
Best Trade [%]                399.400000
Worst Trade [%]               399.400000
Avg Winning Trade [%]         399.400000
Avg Losing Trade [%]                 NaN
Avg Winning Trade Duration      4.000000
Avg Losing Trade Duration            NaN
Profit Factor                        inf
Expectancy                    399.000999
dtype: float64

   Order Id  Column  Timestamp     Size  Price    Fees  Side
0         0       0          0  99.9001    1.0  0.0999   Buy
1         1       0          4  99.9001    5.0  0.4995  Sell

In [111]:
# single assets from_orders
df['size'] = [1,0,0,0,-1]
pf2 = vectorbt.Portfolio.from_orders(
    close=df['close'],
    size=df['size'],
    init_cash=100.,
    fees=0.001,
)
print(pf2.stats())
pf2.orders.records_readable

Start                           0.000000
End                             4.000000
Period                          5.000000
Start Value                   100.000000
End Value                     103.994000
Total Return [%]                3.994000
Benchmark Return [%]          400.000000
Max Gross Exposure [%]          3.883533
Total Fees Paid                 0.006000
Max Drawdown [%]                     NaN
Max Drawdown Duration                NaN
Total Trades                    1.000000
Total Closed Trades             1.000000
Total Open Trades               0.000000
Open Trade PnL                  0.000000
Win Rate [%]                  100.000000
Best Trade [%]                399.400000
Worst Trade [%]               399.400000
Avg Winning Trade [%]         399.400000
Avg Losing Trade [%]                 NaN
Avg Winning Trade Duration      4.000000
Avg Losing Trade Duration            NaN
Profit Factor                        inf
Expectancy                      3.994000
dtype: float64

   Order Id  Column  Timestamp  Size  Price   Fees  Side
0         0       0          0   1.0    1.0  0.001   Buy
1         1       0          4   1.0    5.0  0.005  Sell

In [112]:
# multi assets from_signals
close_df = pd.DataFrame(
    [
        [46650.01, 46766.78, 46796.14, 46789.56, 46690.81, 47184.18, 46972.19, 47186.83, 47117.84, 47137.37],#BTCUSDT
        [3721.67, 3723.71, 3727.03, 3722.07, 3707.3, 3735.39, 3710.97, 3714.77, 3720.98, 3717.47],#ETHUSDT
        [172.4, 172.77, 172.76, 172.93, 171.47, 173.22, 172.46, 173.16, 172.93, 172.77],#SOLUSDT
    ]
).transpose()
entry_df = pd.DataFrame(
    [
        [1,0,0,0,0,0,0,0,0,0],
        [1,0,0,0,0,0,0,0,0,0],
        [1,0,0,0,0,0,0,0,0,0],
    ]
).transpose()
exit_df = pd.DataFrame(
    [
        [0,0,0,0,0,0,0,0,0,1],
        [0,0,0,0,0,0,0,0,0,1],
        [0,0,0,0,0,0,0,0,0,1],
    ]
).transpose()
multi_pf = vectorbt.Portfolio.from_signals(
    close=close_df,
    entries=entry_df,
    exits=exit_df,
    init_cash=100.,
    fees=0.001,
    group_by=True
)
print(multi_pf.stats())
multi_pf.orders.records_readable

Start                           0.000000
End                             9.000000
Period                         10.000000
Start Value                   300.000000
End Value                     300.544789
Total Return [%]                0.181596
Benchmark Return [%]            0.382160
Max Gross Exposure [%]        100.000000
Total Fees Paid                 0.600546
Max Drawdown [%]                0.513733
Max Drawdown Duration           4.000000
Total Trades                    3.000000
Total Closed Trades             3.000000
Total Open Trades               0.000000
Open Trade PnL                  0.000000
Win Rate [%]                   66.666667
Best Trade [%]                  0.843671
Worst Trade [%]                -0.312740
Avg Winning Trade [%]           0.429037
Avg Losing Trade [%]           -0.312740
Avg Winning Trade Duration      9.000000
Avg Losing Trade Duration       9.000000
Profit Factor                   2.743731
Expectancy                      0.181596
Name: group, dtype: float64

   Order Id  Column  Timestamp      Size     Price      Fees  Side
0         0       0          0  0.002141  46650.01  0.099900   Buy
1         1       0          9  0.002141  47137.37  0.100944  Sell
2         2       1          0  0.026843   3721.67  0.099900   Buy
3         3       1          9  0.026843   3717.47  0.099787  Sell
4         4       2          0  0.579467    172.40  0.099900   Buy
5         5       2          9  0.579467    172.77  0.100115  Sell

In [113]:
# multi assets from_orders
size_df = pd.DataFrame(
    [
        [1,0,0,0,0,0,0,0,0,-1],
        [1,0,0,0,0,0,0,0,0,-1],
        [1,0,0,0,0,0,0,0,0,-1],
    ]
).transpose()
order_pf = vectorbt.Portfolio.from_orders(
    close=close_df,
    size=size_df,
    init_cash=100.,
    fees=0.001,
    group_by=True
)
print(order_pf.stats())
order_pf.orders.records_readable

Start                           0.000000
End                             9.000000
Period                         10.000000
Start Value                   300.000000
End Value                     249.818025
Total Return [%]              -16.727325
Benchmark Return [%]            0.382160
Max Gross Exposure [%]        100.000000
Total Fees Paid                51.327310
Max Drawdown [%]               17.193158
Max Drawdown Duration           4.000000
Total Trades                    6.000000
Total Closed Trades             3.000000
Total Open Trades               3.000000
Open Trade PnL                -50.726764
Win Rate [%]                   66.666667
Best Trade [%]                  0.843671
Worst Trade [%]                -0.312740
Avg Winning Trade [%]           0.429037
Avg Losing Trade [%]           -0.312740
Avg Winning Trade Duration      9.000000
Avg Losing Trade Duration       9.000000
Profit Factor                   2.743731
Expectancy                      0.181596
Name: group, dtype: float64

   Order Id  Column  Timestamp      Size     Price      Fees  Side
0         0       0          0  0.002141  46650.01   0.09990   Buy
1         1       0          9  1.000000  47137.37  47.13737  Sell
2         2       1          0  0.026843   3721.67   0.09990   Buy
3         3       1          9  1.000000   3717.47   3.71747  Sell
4         4       2          0  0.579467    172.40   0.09990   Buy
5         5       2          9  1.000000    172.77   0.17277  Sell